<nav id="topbar">
<h2 id="vocativ-logo">Vocativ</h2>

<ul>
  <li id="data-button" class="topbar-button">    
    <a href="#"><img src="img/data-icon.svg" /></a>
  </li>
  <li id="twitter-button" class="topbar-button" >    
    <a href="#" ><img src="img/twitter-icon.svg" /></a>
  </li>
  <li id="facebook-button" class="topbar-button">    
    <a href="#" ><img src="img/facebook-icon.svg" /></a>
  </li>
</ul>

</div>
</nav>

<div id="container">
  <header id="title">
    <h1>{{ project.name }}</h1>
  </header>
  <section id="content">
    <svg id="viz-svg">
    </svg>
  </section>
</div>