$red = #ed4224
$lightRed= #ee5439

$lightGray = #d7d7d7
$yellow = #e6c000
$green = #46cc69
$tealGreen = #08ab88
$aqua = #33cccc
$blue = #3363f6
$purple = #824d99

$choro1 = #4F5C6D
$choro2 = #77565A
$choro3 = #9D5048
$choro4 = #CC3333
$choro5 = #FF3333

$background = #323d4d

$white = #ffffff
$transparentWhite = rgba(255, 255, 255, 0.9)

$black = #000000
$lightBlack = #232323
$darkBlack = #4b494b

$papayawhip = #FFEFD5

$facebook = #335795
$twitter = #2F92DD