$vvRed = #ed4224
$vvDarkBlack = #4b494b
$vvLightGray = #d7d7d7
$vvYellow = #e6c000
$vvGreen = #46cc69
$vvTealGreen = #08ab88
$vvAqua = #33cccc
$vvBlue = #3363f6
$vvPurple = #824d99

$vvScale1 = #4f5c6d
$vvScale2 = #77565a
$vvScale3 = #9d5048
$vvScale4 = #c54936
$vvScale5 = #ec4524

$vvBackground = #323d4d

$white = #ffffff
$black = #0000
$papayawhip = #FFEFD5
